<!--ここから左側部分-->
<%= render 'book', user: @user, book: @book %>

<!--ここまでが左側部分-->

<!--ここから右側部分-->
<h2>Books</h2>
<table>
  <tr><th>Title</th><th>Opinion</th></tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= image_tag user.get_profile_image(100, 100) %></td>
    <% @books.each do |book| %>
    <td><%= book.title %></td><td><%= book.body %></td>
    <% end %>
  </tr>
  <% end %>
</table>